.hero {
  flex-direction: row;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
}

.hero__badge {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  @media screen and (min-width: 1000px) {
    margin: -20rem auto 0;
  }

  @media screen and (max-width: 1000px) {
    margin: -45rem auto 0;
  }

  & small,
  & .hero__role {
    text-transform: uppercase;
    font-size: 0.875rem;

    &:hover {
      color: var(--secondary-color);
      transition: 0.5s;
    }
  }

  & h1 {
    line-height: 1;
    font-size: clamp(5rem, 15vw, 6.5rem);
    font-family: "Momentz", san-serif;
    position: relative;
    will-change: filter;
    transition: filter 300ms;

    @media screen and (min-width: 1000px) {
      margin: 0.8rem 0;
    }

    @media screen and (max-width: 1000px) {
      margin: 0.5rem 0;
    }
  }

  & h1:hover {
    filter: drop-shadow(0 0 2rem #61dafbaa);
  }

  & .hero__role {
    display: inline-block;
    opacity: 75%;
    justify-self: flex-end;
  }

  & .hero__role::before {
    content: "Web Developer";
    animation: roleAnim 9s infinite;
  }
}

@keyframes roleAnim {

  0%,
  33% {
    content: "Web Developer";
  }

  33.34%,
  66% {
    content: "Designer";
  }

  66%,
  100% {
    content: "Freelancer";
  }
}

.hero__badge-container {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: space-between;

}

.social {
  display: flex;
  justify-self: flex-start;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;

  & div {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;

    svg {
      width: 24px;
      height: 24px;
    }

    &:hover {
      svg {
        transform: rotate(-15deg);
      }
    }
  }
}


.hero__img {
  height: 80vh;
  margin-bottom: -1rem;;
  position: absolute;
  bottom: 0;
  user-select: none;

  @media screen and (min-width: 1000px) {
    right: 5%;
  }
}
