

.fadeIn__below {
    animation: fadeInFromBelow 1s ease-in-out;
}


@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes multiColorLetterHover {
  0% {
    color: var(--primary);
  }
  25% {
    color: var(--secondary);
  }
  50% {
    color: var(--tertiary);
  }
  75% {
    color: var(--quaternary);
  }
  100% {
    color: var(--primary);
  }
}

@keyframes slide-up {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInFromBelow {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
}
}

@media (prefers-reduced-motion: reduce) {
  .skill-marquee, .fadeIn__below, .sitename  {
    animation-play-state: paused;
  }
}
